@model CanvasJsChartBoxAndWhiskerChartResponseModel;

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
@section scripts {
	<script>
		window.onload = function () {
			
			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				title: {
					text: "@Model.XAxisTitle"
				},
				axisX: {
					valueFormatString: "@Model.XAxisFormatting"
				},
				axisY: {
					title: "@Model.YAxisTitle",
					includeZero: true
				},
				data: [{
					type: "boxAndWhisker",
					xValueFormatString: "DDDD",
					yValueFormatString: "#0.0 Hours",
					dataPoints: [
						{ x: new Date("@Model.Data[0].x"), y: @Html.Raw(JsonConvert.SerializeObject(Model.Data[0].y)) },
						{ x: new Date("@Model.Data[1].x"), y: @Html.Raw(JsonConvert.SerializeObject(Model.Data[1].y)) },
						{ x: new Date("@Model.Data[2].x"), y: @Html.Raw(JsonConvert.SerializeObject(Model.Data[2].y)) },
						{ x: new Date("@Model.Data[3].x"), y: @Html.Raw(JsonConvert.SerializeObject(Model.Data[3].y)) },
						{ x: new Date("@Model.Data[4].x"), y: @Html.Raw(JsonConvert.SerializeObject(Model.Data[4].y)) },
						{ x: new Date("@Model.Data[5].x"), y: @Html.Raw(JsonConvert.SerializeObject(Model.Data[5].y)) },
						{ x: new Date("@Model.Data[6].x"), y: @Html.Raw(JsonConvert.SerializeObject(Model.Data[6].y)) },
						
					]
				}]
			});
			chart.render();

		}
	</script>
}